html, body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
    background: 
        linear-gradient(
            to right,
            #0d0015 0%,
            #1a002d 20%,
            #200036 40%,
            #270042 60%,
            #290042 80%,
            #320051 90%
    );
}

*head{
    .orbitron-uniquifier{
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
}

.header-nav .nav-logo img{
    width: 50px;
    display: inline;
    z-index: 1;
    padding: 1rem;
    float: left;
}

.header-nav .nav-logo h1{
    font-family: "Orbitron", sans-serif;
    display: block;
    letter-spacing: 1px;
    text-align: center;
    font-size: xx-large;
    display: inline;
    z-index: 1;
    float: left;
    color: #ff00ff;
}

.header-nav .nav-links{
    float: right;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

/* clearfix */
.header-nav:before,
.header-nav:after {
    content: "";
    display: block;
} 
.header-nav:after {
    clear: both;
}

.nav-button{
    padding: 0.3rem;
    z-index: 5;
}

.nav-button button{
    font-family: "Orbitron", sans-serif;
    background-color: #ff00ff;
    border-width: 10px;
    border-radius: 9999px;
    border: 1px solid #09e98f00;
    padding: 10px;
    letter-spacing: 1px;
}

.nav-button button:hover{
    background: #39FF14;
    border-radius: 9999px;
    border: 1px solid #42092f81 center;
    transform: translate(-3px, -4px);
    text-decoration: none;
}

.content .image-section{
    padding: 1rem;
}

.content .image-section h2{
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.content .image-section img{
    display: flex;
    justify-content: start;
    align-content: center;
    margin: auto;
    max-height: 600px;
    max-width: 400px;
    border: 0;
}

footer{
    overflow: hidden;
    padding: 40px 0;
    position: absolute;
    width: 100%;
    margin: 0;
}

footer span{
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    display: flex;
    color: #00ffbc;
    text-align: center;
    justify-content: center;
    padding: 1px 0;
    font-weight: 300;
    font-size: 0.85em;
}

footer span a{
    color: #00ffbc;
}

footer span a:hover{
    color: #39FF14;
}