#navegação{
    position: relative;
    z-index: 3;
}
*head{
.orbitron-uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}}

#navegação ul li{
    font-family: "Orbitron", sans-serif;
    background: #e9fdf5ef;
    border-width: 10px;
    border-radius: 9999px;
    border: 1px solid #09e98f00;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 10px;
    display: inline-flex;
    margin:10px;
    padding: 16px;

    position: relative;
    z-index: 5;
}
.bglogo{
    width: 50px;
    display: block;
    justify-content: start;
    align-items: start;

    position: absolute;
    z-index: 1;
}
#navegação ul li :hover{
    background: #ff00ff;
     border-width: 10px;
    border-radius: 9999px;
    border: 1px solid #42092f81 center;
}
.preto ul li a{
    color: rgb(10, 10, 10);
}
 li a{
    text-decoration: none;
}

body{
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #000000, #210435);
  color: white;
  font-family: sans-serif;


    
}
